<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.mapper.EorderCategoryMapper">
  <resultMap id="BaseResultMap" type="com.basoft.service.entity.EorderCategory">
    <id column="categoryId" jdbcType="BIGINT" property="categoryid" />
    <result column="storeId" jdbcType="BIGINT" property="storeid" />
    <result column="ctgName" jdbcType="VARCHAR" property="ctgname" />
    <result column="isDelete" jdbcType="TINYINT" property="isdelete" />
    <result column="createdId" jdbcType="BIGINT" property="createdid" />
    <result column="createdDt" jdbcType="TIMESTAMP" property="createddt" />
    <result column="modifiedId" jdbcType="BIGINT" property="modifiedid" />
    <result column="modifiedDt" jdbcType="TIMESTAMP" property="modifieddt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    categoryId, storeId, ctgName, isDelete, createdId, createdDt, modifiedId, modifiedDt
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eorder_category
    where categoryId = #{categoryid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from eorder_category
    where categoryId = #{categoryid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.basoft.service.entity.EorderCategoryExample">
    delete from eorder_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.basoft.service.entity.EorderCategory">
    insert into eorder_category (categoryId, storeId, ctgName, 
      isDelete, createdId, createdDt, 
      modifiedId, modifiedDt)
    values (#{categoryid,jdbcType=BIGINT}, #{storeid,jdbcType=BIGINT}, #{ctgname,jdbcType=VARCHAR}, 
      #{isdelete,jdbcType=TINYINT}, #{createdid,jdbcType=BIGINT}, #{createddt,jdbcType=TIMESTAMP}, 
      #{modifiedid,jdbcType=BIGINT}, #{modifieddt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.basoft.service.entity.EorderCategory">
    insert into eorder_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryid != null">
        categoryId,
      </if>
      <if test="storeid != null">
        storeId,
      </if>
      <if test="ctgname != null">
        ctgName,
      </if>
      <if test="isdelete != null">
        isDelete,
      </if>
      <if test="createdid != null">
        createdId,
      </if>
      <if test="createddt != null">
        createdDt,
      </if>
      <if test="modifiedid != null">
        modifiedId,
      </if>
      <if test="modifieddt != null">
        modifiedDt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryid != null">
        #{categoryid,jdbcType=BIGINT},
      </if>
      <if test="storeid != null">
        #{storeid,jdbcType=BIGINT},
      </if>
      <if test="ctgname != null">
        #{ctgname,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=TINYINT},
      </if>
      <if test="createdid != null">
        #{createdid,jdbcType=BIGINT},
      </if>
      <if test="createddt != null">
        #{createddt,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedid != null">
        #{modifiedid,jdbcType=BIGINT},
      </if>
      <if test="modifieddt != null">
        #{modifieddt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update eorder_category
    <set>
      <if test="record.categoryid != null">
        categoryId = #{record.categoryid,jdbcType=BIGINT},
      </if>
      <if test="record.storeid != null">
        storeId = #{record.storeid,jdbcType=BIGINT},
      </if>
      <if test="record.ctgname != null">
        ctgName = #{record.ctgname,jdbcType=VARCHAR},
      </if>
      <if test="record.isdelete != null">
        isDelete = #{record.isdelete,jdbcType=TINYINT},
      </if>
      <if test="record.createdid != null">
        createdId = #{record.createdid,jdbcType=BIGINT},
      </if>
      <if test="record.createddt != null">
        createdDt = #{record.createddt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedid != null">
        modifiedId = #{record.modifiedid,jdbcType=BIGINT},
      </if>
      <if test="record.modifieddt != null">
        modifiedDt = #{record.modifieddt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update eorder_category
    set categoryId = #{record.categoryid,jdbcType=BIGINT},
      storeId = #{record.storeid,jdbcType=BIGINT},
      ctgName = #{record.ctgname,jdbcType=VARCHAR},
      isDelete = #{record.isdelete,jdbcType=TINYINT},
      createdId = #{record.createdid,jdbcType=BIGINT},
      createdDt = #{record.createddt,jdbcType=TIMESTAMP},
      modifiedId = #{record.modifiedid,jdbcType=BIGINT},
      modifiedDt = #{record.modifieddt,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.basoft.service.entity.EorderCategory">
    update eorder_category
    <set>
      <if test="storeid != null">
        storeId = #{storeid,jdbcType=BIGINT},
      </if>
      <if test="ctgname != null">
        ctgName = #{ctgname,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null">
        isDelete = #{isdelete,jdbcType=TINYINT},
      </if>
      <if test="createdid != null">
        createdId = #{createdid,jdbcType=BIGINT},
      </if>
      <if test="createddt != null">
        createdDt = #{createddt,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedid != null">
        modifiedId = #{modifiedid,jdbcType=BIGINT},
      </if>
      <if test="modifieddt != null">
        modifiedDt = #{modifieddt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where categoryId = #{categoryid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.basoft.service.entity.EorderCategory">
    update eorder_category
    set storeId = #{storeid,jdbcType=BIGINT},
      ctgName = #{ctgname,jdbcType=VARCHAR},
      isDelete = #{isdelete,jdbcType=TINYINT},
      createdId = #{createdid,jdbcType=BIGINT},
      createdDt = #{createddt,jdbcType=TIMESTAMP},
      modifiedId = #{modifiedid,jdbcType=BIGINT},
      modifiedDt = #{modifieddt,jdbcType=TIMESTAMP}
    where categoryId = #{categoryid,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.basoft.service.entity.EorderCategory">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.basoft.service.entity.EorderCategory">
    <result column="cup" jdbcType="LONGVARCHAR" property="cup" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, age
  </sql>
  <sql id="Blob_Column_List">
    cup
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from girl
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from girl
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.basoft.service.entity.EorderCategoryExample">
    delete from girl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.basoft.service.entity.EorderCategory">
    insert into girl (id, name, age, 
      cup)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{cup,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.basoft.service.entity.EorderCategory">
    insert into girl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="cup != null">
        cup,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="cup != null">
        #{cup,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update girl
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null">
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.cup != null">
        cup = #{record.cup,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update girl
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=INTEGER},
      cup = #{record.cup,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update girl
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.basoft.service.entity.EorderCategory">
    update girl
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="cup != null">
        cup = #{cup,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.basoft.service.entity.EorderCategory">
    update girl
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      cup = #{cup,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.basoft.service.entity.EorderCategory">
    update girl
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>