<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-v1:war exploded">
    <output-path>$PROJECT_DIR$/../spring5_IOC-master-3b1686f73fa1ab587e77d365af246d424ed87c72/target/spring</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-v1" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/../spring5_IOC-master-3b1686f73fa1ab587e77d365af246d424ed87c72/target/spring/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-v1/web/Web" />
    </root>
  </artifact>
</component>